.articles-index{
  list-style: none;
  padding-left: 0;
}
.mt2 {
  margin:0;
  padding-top: 2rem;
}
.site-wrap {
  margin-bottom: -121px;
}
footer, footer .wrap {
background-color: transparent;
}
@media screen and (max-width: 48em) {
  .credit {
    text-align: center;
    float: none;
  }
}